body{
    background: #273027
   
}
h1{
    text-align: center;
    color :rgb(201, 178, 178);
    border: 4px #859485 solid;
    border-radius: 17px;

}
hr{
    color: blueviolet;
}

div{

    width: 489px;
    border-block-color: red;
}